#=============================================================================
# Configuration file to execute Heat tests.
#=============================================================================

[auth]
user_name={username of the cloud account}
api_key={api key of the cloud account: use either api key or password}
password={password of the cloud account: use either api key or password}
base_url=https://identity.api.rackspacecloud.com/v2.0

[heat]
base_url=https://fusion.dev.rs-heat.com/v1/
